# Temporary compilation files
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio local configuration files
.vs/
*.suo
*.ide
*.sqlite
*.db

# Cache files and analysis tools (ReSharper, Rider, etc.)
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

# Temporary operating system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Crash Files and Local Logs
*.log
*.crash

# Unnecessary folders and files